<launch>
    <!-- ROS BAG -->
    <rosparam param="/use_sim_time">true</rosparam>
    <node pkg="rosbag" type="play" name="play" output="screen" required="true"
    	args="/home/cpy/Datasets/MVSEC/Indoor_flying/indoor_flying3_edited.bag -r 0.5 --clock" />
      <!-- MODIFY THE ABOVE DIRECTORY -->
</launch>
